.nav-item {
    position: relative;
    padding-bottom: 8px;
}

.underline {
    position: absolute;
    bottom: -2px;
    height: 3px;
    width: 100px;
    background-color: #fb5e3c;
    border-radius: 9999px;
    transition: transform 0.3s ease, width 0.3s ease;
}

.nav-item.active ~ .underline {
    transform: translateX(0);
}

.nav-item:nth-child(2).active ~ .underline {
    transform: translateX(110px);
}

.nav-item:nth-child(3).active ~ .underline {
    transform: translateX(230px);
}
